[package]
name = "monitor"
version = "1.12.0"
authors = ["Bill Pikkard <k1ngloo@hotmail.com>"]
edition = "2024"

[dependencies.windows]
version = "0.62"
features = [
	"Win32_Foundation",
	"Win32_UI_WindowsAndMessaging"
]

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
lto = true
